* {
    width: 600;
    border: #8823db;
    trasparent:     #1e1d2f00;
    background:     #1e1d2fa0;
    background-alt: #282839a0;
    foreground:     #d9e0eeff;
    selected:       #7aa2f7ff;
    selected-fg:    #1e1d2fff;
    prompt:         #7aa2f7ff;
    prompt-fg:      #1e1d2fff;
    active:         #abe9b3ff;
    urgent:         #f28fadff;
}

