@import url("theme.css");

* {
  border: none;
  font-family: "CaskaydiaCove Nerd Font";
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  font-size: 13px;
  min-height: 25px;
}

window#waybar {
  background: @waybarbg;
}

/* Single elements */
#window,
#backlight,
#clock,
#tray,
#cava,
#mpris,
#workspaces,
#custom-updates,
#custom-weather,
#custom-notification,
#custom-launcher,
#custom-playerctl,
#custom-power,
#custom-updates,
#custom-media {
  margin: 1px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  transition: none;
  border: 1px solid @borders;
}

/* Groups */
#network-grp,
#audio-grp,
#motherboard,
#battery-grp
{
  margin: 1px;
  border-radius: 8px;
  transition: none;
  border: 1px solid @borders;
}

/* 1 group elements */
#network-grp > widget:nth-child(1) > *,
#audio-grp > widget:nth-child(1) > *,
#motherboard > widget:nth-child(1) > *,
#battery-grp > widget:nth-child(1) > *
{
  padding-left: 10px;
  border-radius: 15px;
}

/* All group elements but 1 */
#network-grp > widget:not(:nth-child(1)) > *,
#audio-grp > widget:not(:nth-child(1)) > *,
#motherboard > widget:not(:nth-child(1)) > *,
#battery-grp > widget:not(:nth-child(1)) > * {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#network-grp {
  background: @backgnd;
  color: @network;
  padding-right: 7px;
}
#network-grp > widget:nth-child(2) > #network.nname {
  font-size: 0px;
  padding: 0px;
}
/* Hover in main group to activate, and hover on it to maintain */
#network-grp:hover > widget:nth-child(2) > #network.nname,
#network-grp > widget:nth-child(2) > #network.nname:hover
{
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 15px;
  font-size: 13px;
}

#audio-grp {
  background: @backgnd;
  color: @audio;
  padding-right: 8px;
}
#audio-grp > widget:nth-child(2) > #pulseaudio {
  font-size: 0px;
  padding: 0px;
}
/*
  I don't need to :hover on output audio element to do things, so, not
  having the posibility to use the scroll, click, etc on it is fine
*/
#audio-grp:hover > widget:nth-child(2) > #pulseaudio,
#audio-grp > widget:nth-child(2) > #pulseaudio:hover
{
  padding-left: 7px;
  padding-right: 2px;
  border-radius: 15px;
  font-size: 13px;
}

#motherboard {
  background: @backgnd;
  color: @mot-sts;
}
#motherboard > widget:not(:nth-child(1)) > label {
  padding-left: 5px;
}

#battery-grp {
  background: @backgnd;
  color: @bat-nor;
}
#battery-grp > widget > #battery.charging,
#battery-grp > widget > #battery.plugged {
  color: @bat-plg;
}
#battery-grp > widget > #battery.critical:not(.charging) {
  background: @backgnd;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 8px;
  padding-right: 10px;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
  margin: 1px;
  transition: none;
  background: @backgnd;
}
#workspaces button {
  margin: 0px;
  color: @wp-norm;
  padding: 0px 5px 0px 5px;
}
#workspaces button.active {
  background: @backgnd;
  padding-left: 4px;
  padding-right: 4px;
  color: @wp-acti;
}
#workspaces button.focused {
  background: @backgho;
  color: @wp-focu;
}
#workspaces button.urgent {
  color: @wp-urge;
}
#workspaces button:hover:not(.active) {
  color: @wp-inac;
}


#window {
  background: @backgnd;
  color: @win-inf;
}

window.empty #window {
  background: transparent;
  color: transparent;
  border: none;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

tooltip {
	color: @tooltip;
	background: @backgnd;
	border-radius: 10px;
	border: 1px solid @borders;
  margin: 0px;
  padding: 0px;
}

tooltip > * {
  margin: 0px;
  padding: 0px;
}

#backlight {
  background: @backgnd;
  color: @backlgt;
}

#clock {
  background: @backgnd;
  color: @clock;
}

#tray {
  color: @trayic;
  background: @backgnd;
}

#custom-launcher {
  /* Launcher font icon size */
  font-size: 20px;
  background: @launchr;
  color: @backgnd;
}

#custom-notification {
  font-size: 16px;
  padding: 0px 13px 0px 8px;
  color: @nottray;
  background: @backgnd;
}

#custom-power {
  /* Power menu font icon size */
  font-size: 18px;
  padding-left: 7px;
  padding-right: 0px;
  background: @backgnd;
  color: @powermn;
}

#mpris,
#custom-media,
#custom-playerctl {
  /* {icon} name - artist */
  background: @backgnd;
  color: @mediain;
}

#custom-weather {
  padding-right: 14px;
  background: @backgnd;
  color: @weather;
}

#custom-updates {
  background: @backgnd;
  color: @updatet;
}

