* {
    bg-col:  #1E1D2F;
    bg-col-light: #242333;
    border-col: #1E1D2F;
    /* border-col: #8823db; */
    /* selected-col: #1E1D2F; */
    selected-col: #573e7a;
    blue: #7aa2f7;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
    background:     #1E1D2F;
    background-alt: #282839;
    foreground:     #D9E0EE;
    selected:       #7AA2F7;
    active:         #ABE9B3;
    urgent:         #F28FAD;
}


