:root {
  --notification-icon-size: 48px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 16px;
  /* GTK homogeneous property workaround */
  /* use `min-width: calc(N * var(--homogeneous-or-zero));` */
  --homogeneous-or-zero: 1;
  --roundness: 12px;
}

* {
  all: unset;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", "Ubuntu Nerd Font", sans-serif;
  transition: 200ms;
}

/* Color palette */
@import "./colors.css";
/* Heads-up display styling, floating notifications */
@import "./heads-up.css";

/* Trough highlight for sliders and progress bars */
trough highlight {
  background: var(--text);
}

scale trough {
  margin: 0rem 1rem;
  background-color: var(--surface0);
  min-height: 8px;
  min-width: 70px;
  border-radius: var(--roundness);
}

slider {
  background-color: var(--blue);
  border-radius: calc(var(--roundness) / 2);
}

/* Main window */
.control-center {
  margin: 0px;
  padding: 10px;
  background-color: var(--crust);
  border-radius: var(--roundness);
}

/* children are here */
.control-center > viewport > .vertical > * {
  /* border: 1px solid var(--red); */
  border-radius: var(--roundness);
}

/* `window > container { gap: 5px; }` */
.control-center > viewport > .vertical > *:not(:first-child) {
  margin-top: 5px;
}

/* Title + "Clear All" */
.control-center .widget-title > label {
  color: var(--accent);
  font-size: 1.4em;
  font-weight: bold;
}

.control-center .widget-title .control-center-clear-all {
  border-radius: var(--roundness);
  color: var(--text);
  font-weight: bold;
  background-color: var(--surface0);
  padding: 8px;
  margin: 2px;
}

.control-center .widget-title .control-center-clear-all:hover {
  background-color: var(--surface1);
}

/* Notification group header line */
.control-center .notification-group .horizontal > .horizontal {
  padding: 4px;
  border-radius: var(--roundness);
  border: 1px solid var(--surface1);
}
.notification-group .notification-group-headers .notification-group-header {
  color: var(--text);
  font-size: 1em;
}
.notification-group .notification-group-headers .notification-group-icon {
  -gtk-icon-size: var(--notification-group-icon-size);
}

/* Notifications: list > notifications */
.control-center .notification-row .notification-background {
  border-radius: var(--roundness);
  color: var(--text);
  box-shadow: none;
  padding: 0px;
}
.control-center .notification-row .notification-background:hover {
  background-color: var(--surface1);
}

.control-center .notification-row .notification-background:active {
  background-color: var(--accent);
  color: var(--base);
}

/* Notifications: list > notifications > notification-item */
.control-center .notification-row .notification-background .notification {
  padding: 0px;
  border-radius: var(--roundness);
  background-color: var(--base);
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 8px 0 var(--red);
}

.control-center .notification-row .notification-background .notification .notification-content box overlay .image {
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: var(--roundness);
  margin-right: 0.8rem;
}
.control-center .notification-row .notification-background .notification .notification-content .app-icon {
  margin: 0px 0.8rem 0px 0px;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 8px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: var(--text);
  font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: var(--subtext0);
  font-size: 0.9em;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: var(--text);
  margin-top: 4px;
}

.control-center .notification-row .notification-background .notification > .notification-alt-actions > .notification-action {
  min-height: 3.8em;
}

.control-center .notification-row .notification-background .notification > .notification-alt-actions > .notification-action > button {
  border-radius: var(--roundness);
  color: var(--text);
  background-color: var(--surface0);
  box-shadow: none;
  margin: 6px;
  padding: 8px 16px;
}

.control-center .notification-row .notification-background .notification > .notification-alt-actions > .notification-action > button:hover {
  background-color: var(--surface1);
}

.control-center .notification-row .notification-background .notification > .notification-alt-actions > .notification-action > button:active {
  background-color: var(--accent);
  color: var(--base);
}

.control-center .notification-group-close-button.right.top .close-button,
.control-center .notification-row .notification-background .close-button {
  border-radius: 100%;
  margin: 8px;
  padding: 2px;
  background-color: var(--maroon);
  color: var(--crust);
}

.control-center .notification-group-close-button.right.top .close-button:hover,
.control-center .notification-group-close-button.right.top .close-button:active,
.control-center .notification-row .notification-background .close-button:hover,
.control-center .notification-row .notification-background .close-button:active {
  background-color: var(--red);
}

/* Progress bar colors */
.notification.critical progress {
  background-color: var(--red);
}

.notification.low progress,
.notification.normal progress {
  background-color: var(--blue);
}

/* Do Not Disturb widget */
.widget-dnd {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
}

.widget-dnd > label {
  color: var(--accent);
  font-weight: bold;
}

.widget-dnd > switch {
  border-radius: var(--roundness);
  background: var(--crust);
  border: 1px solid var(--surface1);
  box-shadow: none;
  padding: 2px;
  margin: 0px;
}

.widget-dnd > switch:checked > slider {
  background: var(--base);
}

.widget-dnd > switch:checked {
  background: var(--accent);
  color: var(--base);
}

.widget-dnd > switch slider {
  background: var(--overlay0);
  border-radius: 8px;
  border: 1px solid var(--overlay1);
}

/* .widget-mpris is the overall container for all player controls. */
.widget-mpris {
  padding: 0px;
  background-color: transparent;
}

/* Carousel buttons */
.widget-mpris > .horizontal > .flat.image-button {
  background-color: transparent;
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  border: none;
  box-shadow: none;
  -gtk-icon-size: 0px;
}

.widget-mpris > carouselindicatordots {
  color: var(--accent);
  min-width: 12px;
}

.widget-mpris .widget-mpris-player {
  background: transparent;
  border-radius: var(--roundness);
  border: 1px solid var(--surface1);
  color: var(--text);
}

/* .widget-mpris .widget-mpris-player:hover {
  background: var(--surface1);
} */

.widget-mpris-player > box {
  padding: 10px;
}

.widget-mpris-player .widget-mpris-album-art {
  border-radius: var(--roundness);
  border: 2px solid var(--surface1);
  margin-right: 12px;
  -gtk-icon-size: 64px;
  min-width: 64px;
  min-height: 64px;
}

.widget-mpris-player .widget-mpris-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text);
  text-shadow: 1px 2px 2px var(--crust);
  margin-bottom: 4px;
}

.widget-mpris-player .widget-mpris-subtitle {
  font-size: 0.9rem;
  color: var(--text);
  text-shadow: 1px 1px 2px var(--crust);
}

.widget-mpris-player .widget-mpris-progress scale trough {
  background-color: var(--overlay0);
  min-height: 6px;
  border-radius: calc(var(--roundness) / 2);
  margin: 10px 0;
}

.widget-mpris-player .widget-mpris-progress slider {
  background-color: var(--accent);
  border-radius: 3px;
}

.widget-mpris-player .widget-mpris-controls {
  margin-top: 12px;
}

.widget-mpris-player .horizontal .flat.image-button {
  background: var(--crust);
  color: var(--accent);
  padding: 6px;
  box-shadow: 1px 1px 4px var(--text);
  border-radius: 100%;
}
.widget-mpris-player .widget-mpris-controls .image-button:hover {
  background-color: var(--accent);
  color: var(--base);
}

/* Play/Pause button can be distinctive */
.widget-mpris-player .widget-mpris-controls .image-button .play-pause-button {
  background-color: var(--accent);
  color: var(--base);
  padding: 16px;
  min-width: 56px;
  min-height: 56px;
}

.widget-mpris-player .image-button .play-pause-button:hover {
  background-color: var(--lavender);
}

.widget-mpris-player .image-button .play-pause-button:active {
  background-color: var(--accent);
  color: var(--base);
}

/* Menu bar styling */
.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 2.5rem;
  padding: 0.4rem 1.8rem;
  border-radius: var(--roundness);
  background-color: var(--surface0);
  color: var(--text);
  box-shadow: none;
}

.widget-menubar > box > .menu-button-bar > button:hover label {
  background-color: var(--surface1);
}

.widget-menubar > box > .menu-button-bar > button:active label {
  background-color: var(--accent);
  color: var(--base);
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: var(--red);
}

/* Control center widget label */
.control-center .widget-label > label {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: bold;
}

/* Buttons grid styling */
.widget-buttons-grid {
  padding: 0.3rem 0px 0.3rem 0px;
}

.widget-buttons-grid > flowbox {
  padding: 2px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background-color: var(--surface0);
  border-radius: var(--roundness);
  padding: 12px;
  margin: 2px;
  box-shadow: 0 2px 6px var(--crust);
  border: 2px solid var(--subtext1);
  min-height: 24px;
  min-width: calc(48px * var(--homogeneous-or-zero));
}
.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-family: "Ubuntu Nerd Font", sans-serif;
  font-size: 1.4rem;
  color: var(--text);
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background-color: var(--surface1);
}
.widget-buttons-grid > flowbox > flowboxchild > button:checked {
  border: 2px solid var(--accent);
}
.widget-buttons-grid > flowbox > flowboxchild > button:checked label {
  color: var(--accent);
}

/* Volume widget */
.widget-volume {
  padding: 0.1rem;
}

.widget-volume .horizontal label {
  font-size: 1.2rem;
  color: var(--accent);
  font-weight: bold;
}

.widget-volume .horizontal trough highlight {
  background: var(--accent);
  border-radius: calc(var(--roundness) / 2);
}

.widget-volume .horizontal .image-button.toggle {
  color: var(--accent);
  border-radius: var(--roundness);
}
.widget-volume .horizontal .image-button.toggle:hover {
  background-color: var(--surface1);
  box-shadow: 0 2px 6px var(--crust);
}

.widget-volume .per-app-volume {
  margin-top: 10px;
}

.widget-volume .per-app-volume > *:not(:first-child) {
  margin-top: 10px;
}

.widget-volume .per-app-volume label {
  color: var(--text);
  font-size: 0.8rem;
  margin-left: 4px;
  border-radius: calc(var(--roundness) / 2);
}

/* Backlight widget */
.widget-backlight trough highlight {
  background: var(--yellow);
}

.widget-backlight label {
  font-size: 1.2rem;
  color: var(--yellow);
  font-weight: bold;
}
