:root {
  --color-background: #1a1112;
  --color-on-background: #f0dedf;

  --color-surface: #1a1112;
  --color-surface-low: #22191a;
  --color-surface-variant: #524344;
  --color-on-surface-variant: #d7c1c2;

  --color-primary: #ffb2b8;
  --color-on-primary: #561d24;
  --color-primary-container: #72333a;

  --color-secondary: #e6bdbe;
  --color-on-secondary: #44292b;

  --color-tertiary: #e7c08e;
  --color-on-tertiary: #432c06;
  --color-tertiary-container: #5d421b;
  --color-on-tertiary-container: #ffddb4;

  --color-outline: #9f8c8d;
  --color-outline-variant: #9f8c8d;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;

  --color-scrim: #000000;
}
